<div class="d-flex h-50 align-items-center justify-content-center p-3">
  <div class="card" [@fontSize]="fontSize" [@cardSize]="cardSize">
    <div class="card-header">
      Animated Card
    </div>
    <div class="card-body">
      Modify the card size and font size to see Angular animations in action!
    </div>
  </div>  
</div>

<div class="d-flex h-50 align-items-center justify-content-center flex-column">
  <h5 class="mb-0">Card Size</h5>
  <div class="btn-group btn-group-toggle p-2" data-toggle="buttons">
    <label class="btn btn-info" [ngClass]="{'active': cardSize == 'small'}">
      <input type="radio" name="cardSize" id="smallCard" (change)="setCardSize('small')"> Small
    </label>
    <label class="btn btn-info" [ngClass]="{'active': cardSize == 'medium'}">
      <input type="radio" name="cardSize" id="mediumCard" (change)="setCardSize('medium')"> Medium
    </label>
    <label class="btn btn-info" [ngClass]="{'active': cardSize == 'large'}">
      <input type="radio" name="cardSize" id="largeCard" (change)="setCardSize('large')"> Large
    </label>
  </div>
  <h5 class="mb-0">Font Size</h5>
  <div class="btn-group btn-group-toggle p-2" data-toggle="buttons">
    <label class="btn btn-primary" [ngClass]="{'active': fontSize == 'small'}">
      <input type="radio" name="fontSize" id="small" (change)="setFontSize('small')"> Small
    </label>
    <label class="btn btn-primary" [ngClass]="{'active': fontSize == 'medium'}">
      <input type="radio" name="fontSize" id="medium" (change)="setFontSize('medium')"> Medium
    </label>
    <label class="btn btn-primary" [ngClass]="{'active': fontSize == 'large'}">
      <input type="radio" name="fontSize" id="large" (change)="setFontSize('large')"> Large
    </label>
  </div>
</div>
